testing-agent/n8n-workflows/06-discovery-webhook-slack.json
{
  "name": "QA Discovery Webhook to Slack",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qa-discovery-webhook",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "qa-discovery-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Format discovery webhook for Slack\nconst data = $input.first().json;\n\nif (data.event !== 'discovery_completed' || !data.success) {\n  return [{\n    json: {\n      skip: true,\n      reason: 'Not a successful discovery event'\n    }\n  }];\n}\n\nconst { domain, summary, testSuites, reportUrl, duration } = data;\n\n// Build page type breakdown\nconst typeEmojis = {\n  form: ':pencil:',\n  article: ':newspaper:',\n  landing: ':house:',\n  ecommerce: ':shopping_cart:',\n  legal: ':scales:',\n  faq: ':question:',\n  generic: ':globe_with_meridians:'\n};\n\nlet pageBreakdown = '';\nfor (const [type, count] of Object.entries(summary.byType || {})) {\n  const emoji = typeEmojis[type] || ':page_facing_up:';\n  pageBreakdown += `${emoji} *${type.charAt(0).toUpperCase() + type.slice(1)}*: ${count} pages\\n`;\n}\n\n// Build test suites summary\nlet suiteSummary = '';\nconst priorityEmojis = { critical: ':rotating_light:', high: ':red_circle:', medium: ':large_orange_circle:', low: ':white_circle:' };\n\nfor (const suite of (testSuites || []).slice(0, 5)) {\n  const emoji = priorityEmojis[suite.priority] || ':white_circle:';\n  suiteSummary += `${emoji} *${suite.type}*: ${suite.totalPages} pages (${suite.estimatedDuration})\\n`;\n}\n\nconst blocks = [\n  {\n    type: 'header',\n    text: {\n      type: 'plain_text',\n      text: `:rocket: New Discovery: ${domain}`,\n      emoji: true\n    }\n  },\n  {\n    type: 'context',\n    elements: [\n      {\n        type: 'mrkdwn',\n        text: `Completed in ${(duration / 1000).toFixed(1)}s | ${new Date().toLocaleString()}`\n      }\n    ]\n  },\n  {\n    type: 'section',\n    fields: [\n      {\n        type: 'mrkdwn',\n        text: `*:mag: Pages Found*\\n${summary.totalPages}`\n      },\n      {\n        type: 'mrkdwn',\n        text: `*:clipboard: Test Suites*\\n${testSuites?.length || 0}`\n      }\n    ]\n  },\n  {\n    type: 'divider'\n  },\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: `*Page Types*\\n${pageBreakdown}`\n    }\n  },\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: `*Test Suites Generated*\\n${suiteSummary}`\n    }\n  }\n];\n\nif (reportUrl) {\n  blocks.push({\n    type: 'actions',\n    elements: [\n      {\n        type: 'button',\n        text: {\n          type: 'plain_text',\n          text: ':page_facing_up: View Report',\n          emoji: true\n        },\n        url: reportUrl,\n        action_id: 'view_report'\n      },\n      {\n        type: 'button',\n        text: {\n          type: 'plain_text', \n          text: ':arrow_forward: Run Tests',\n          emoji: true\n        },\n        url: `http://38.97.60.181:3005/test-suites?domain=${domain}`,\n        action_id: 'run_tests'\n      }\n    ]\n  });\n}\n\nreturn [{\n  json: {\n    skip: false,\n    text: `New QA Discovery: ${domain} - ${summary.totalPages} pages found, ${testSuites?.length || 0} test suites generated`,\n    blocks\n  }\n}];"
      },
      "id": "format-webhook",
      "name": "Format Webhook for Slack",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-skip",
      "name": "Should Send?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "qa-alerts",
          "mode": "name"
        },
        "text": "={{ $json.text }}",
        "blocksUi": "={{ JSON.stringify($json.blocks) }}",
        "otherOptions": {}
      },
      "id": "slack-send",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [850, 250],
      "credentials": {
        "slackApi": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "no-op",
      "name": "Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Format Webhook for Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Webhook for Slack": {
      "main": [
        [
          {
            "node": "Should Send?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send?": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "QA"
    },
    {
      "name": "Webhook"
    },
    {
      "name": "Slack"
    }
  ]
}
